.main {
    background-color: #008080;
    width: 500px;
    height: 200px;
}

.hidden {
    display: none;
}

#right-menu {
    position: fixed;
    background-color: white;
}

#right-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: 1px solid #C0C0C0;
    width: 250px;
}

#right-menu li {
    padding: 3px 10px;
}

#right-menu li:hover {
    background-color: #AEAEFF;
}
