extends ./layout.jade

include ./mixins/contact.jade

block title
  title 张秋怡 - 个人简历

block header
  header
    .title
      h1 name
      h2 job_description
    .contact
      +phone(contact.phone)
      +mail(contact.mail)
      +sinaweibo(contact.sinaweibo)
      +github(contact.github)
    .header-qrcode
      +qrcode(contact.wechat)


block content
  .content
    block education
    block language
    block experience
    block skills


block footer
  footer
    ul.links
      each link in links
        li
          a.link(href=link.url) link.type
