extends ./layout.jade

include ./mixins/contact.jade

block title
  title= resume_title

block header
  header
    .title
      h1= name
      h2= job_description
    address.contact
      ul
        +phone(contact.phone)
        +mail(contact.mail)
        +sinaweibo(contact.sinaweibo)
        +github(contact.github)
    .header-qrcode
      +qrcode(contact.wechat)


block content
  .content
    block education
    block language
    block experience
    block skill


block footer
  block links
  block repo
