- function highlight(str) {
-   return str.replace(/`(.+?)`/g, '<strong>$1</strong>')
- }

mixin section(sec_class, zh_title, en_title, timeline)
  section(class=sec_class)
    h3.sec-title
      span.sec-title-zh= zh_title
      span.sec-title-en= en_title
    if timeline
      .sec-content.sec-content-timeline
        if block
          block
    else
      .sec-content
        if block
          block


mixin certificate(cert)
  .language-cert
    .language-cert-type
      = cert.type
    .language-cert-score
      .language-cert-bar(class="progress-"+Math.floor(cert.score / cert.full * 100))
        span.language-cert-number= cert.score
