doctype html
html
  head
    meta(charset='utf-8')
    block title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href="/style/bundle.css")
  body
    block header
    block content
    block footer
