extends ./layout.jade
include ../mixins/util.jade

block title
  title= resume_title

block style
  link(rel='stylesheet', href="index.css")

block header
  header
    .header-qrcode
      +qrcode(contact.wechat)
    .title
      h1= name
      h2= job_description
    address
      ul.contact
        +phone(contact.phone)
        +email(contact.email)
        +github(contact.github)
        +sinaweibo(contact.sinaweibo)



block content
  .content.row
    .column-5.first
      block education
      block language
      block experience
    .column-7.last
      block skills


block footer
  block links
  block repo
