extends ./layout.jade
include ../mixins/util.jade

block title
  title= resume_title

block header
  header
    .title
      h1= name
      h2= job_description
    address.contact
      ul
        +phone(contact.phone)
        +email(contact.email)
        +github(contact.github)
        +sinaweibo(contact.sinaweibo)
    .header-qrcode
      +qrcode(contact.wechat)


block content
  .content
    block education
    block language
    block experience
    block skills


block footer
  block links
  block repo
